$primary-color: #D59ED7;
$lila: #720076;
$thistle: #D887DB;
$secondary-color: #001229;
$category-background: #FFFBF1;
$neutral-color-black: #222222;
$neutral-color-white: #fcfcfc;
$neutral-color-grey: #6f6f6f;
$neutral-color-light-grey: #E2E2E2;
$neutral-color-dark-grey: #525252;
$white:#fefefe;
$light-grey:#efefef;
$azure: #E8FEFF;
$pale-turquoise: #A7E1E3;
$baby-blue:#9FF2F4;
$pale-aqua:#83E8EC;
$green:#005A1F;
$teal: #006467;
$light-lila: #FFF3FF;