@import "colors";
@import "reset";
@import "typhography";

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 70px;
    height: 623px;
}

.welcome-container {
    display: flex;
    padding: 0px 35px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.welcome-message {
    @include font-styles ($font-family-primary, $font-size-primary-large, $font-weight-primary-semibold, $line-height-primary-45, normal);
}

.guide-to-login {
    @include font-styles ($font-family-primary, $font-size-primary-medium-22, $font-weight-primary-semibold, $line-height-primary-33, normal);
}

.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    @include font-styles($font-family-primary, $font-size-primary-base, $font-weight-primary-regular, $line-height-primary-24, normal);
}

.info-container label {
    display: flex;
    width: 305px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3px;
}

input[type=email],
input[type=password] {
    display: flex;
    width: 305px;
    padding: 12px;
    align-items: flex-start;
    border-radius: 8px;
    border: 1px solid $neutral-color-light-grey;
    background-color: $white;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.login-btn {
    display: flex;
    width: 330px;
    height: 48px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid $primary-color;
    background-color: $thistle;
    @include font-styles($font-family-primary, $font-size-primary-small, $font-weight-primary-regular, $line-height-primary-21, normal);
    cursor: pointer;
}

.forgot a {
    display: flex;
    width: 330px;
    height: 40px;
    padding: 16px 0px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    color: $lila;
    @include font-styles($font-family-primary, $font-size-primary-small, $font-weight-primary-regular, $line-height-primary-21, normal);
}

.or-divider p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    @include font-styles($font-family-primary, $font-size-primary-small, $font-weight-primary-regular, $line-height-primary-18, normal);
    color: $neutral-color-black;
}

.or-divider p:before,
.or-divider p:after {
    content: "";
    height: 1px;
    width: 135px;
    background-color: $neutral-color-black;
}

.or-divder p:before {
    margin-right: 5px;
}

.or-divider p:after {
    margin-left: 5px;
}

.icons {
    display: flex;
    width: 340px;
    padding: 0px 35px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.google-btn,
.facebook-btn {
    display: flex;
    height: 48px;
    width: 100%;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid $light-grey;
    background-color: $white;
    color: $lila;
    @include font-styles($font-family-primary, $font-size-primary-small, $font-weight-primary-regular, $line-height-primary-21, normal);
    cursor: pointer;
}

.register-link {
    display: flex;
    padding: 0px 35px;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.register-text {
    margin-top: 16px;
    color: $neutral-color-black;
    @include font-styles($font-family-primary, $font-size-primary-base, $font-weight-primary-regular, $line-height-primary-24, normal);
}

.register-second-text {
    color: $neutral-color-black;
    @include font-styles($font-family-primary, $font-size-primary-base, $font-weight-primary-regular, $line-height-primary-21, normal);
}

.register-second-text a {
    color: $lila;
}